/**
 *
 * Контакты на главной
 *
*/

.about {
    display: flex;
    flex-direction: column;

    // Модификаторы

    &--styles {
        width: 100%;
        margin-top: 146px;

        .adaptive(@screen-620; {
            margin-top: 80px;
        });
    }

    // Элементы

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 70px;

        .adaptive(@screen-1280; {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        });

        .adaptive(@screen-620; {
            margin-top: 53px;
        });
    }

    &__info {
        flex: 1 1 auto;
        width: 100%;
        max-width: 605px;
        margin-right: 16px;

        .adaptive(@screen-1440; {
            max-width: 522px;
        });

        .adaptive(@screen-1280; {
            margin: 0 0 60px;
            max-width: 100%;
        });
    }

    &__text {
        font-size: 18px;
        font-weight: 300;
        color: var(--color-white);
        letter-spacing: .35px;
        line-height: 26px;

        .adaptive(@screen-1440; {
            font-size: 16px;
        });
    }

    &__form {
        flex: 1 1 auto;
        width: 100%;
        max-width: 714px;

        .adaptive(@screen-1440; {
            max-width: 588px;
        });

        .adaptive(@screen-1280; {
            max-width: 100%;
        });
    }
}
