/**
 *
 * Экран акций на главной
 *
*/

.stocks {
    display: flex;
    flex-direction: column;

    // Модификаторы

    &--styles {
        width: 100%;
        margin-top: 146px;
    }

    // Элементы

    &__cards {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 95px;
    }

    &__btn {
        margin-top: 70px;
        align-self: flex-end;
    }

}