@import (css) url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800&display=swap&subset=cyrillic');

*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

b {
    font-weight: 600;
}

button {
    border: none;
}

ul {
    list-style: none;
}

time {
    display: inline-block;
}

address {
    font-style: normal;
}

.h1 {
    color: var(--color-white);
    font-size: 42px;
    letter-spacing: 1.05px;
    font-weight: bold;
    padding-left: 30px;

    .adaptive(@screen-620; {
        font-size: 34px;
        padding-left: 0;
    });
}

.h3 {
    color: var(--color-white);
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.99px;
    font-weight: 600;
}

/* Миксины */

// Адаптивность
.adaptive( @width; @rules ) {
    @media screen and (max-width: @width) { @rules(); };
}