/* Цвета */

@color-background:          #171717;
@color-dark:                #18181C;
@color-gray-dark:           #2E2E35;
@color-gray:                #3A3A3A;
@color-gray-light:          #66666A;
@color-white-dark:          #D4D4D4;
@color-white-medium:        #E4E4E4;
@color-white:               #F8F8F8;
@color-red-light:           #d13737;
@color-red:                 #C81717;
@color-red-dark:            #8A1029;

@color-menu-label:          rgba(46, 46, 53, 0.8);
@color-menu-label-active:   rgba(46, 46, 53, 0.96);


/* Переходы */

@tr-fast:                   .1s;
@tr-medium:                 .2s;
@tr-low:                    .5s;


/* Размеры */

@screen-1440:               1452px;
@screen-1280:               1172px;
@screen-620:                620px;
@screen-328:                328px;

@screen-padding:            12px;