/**
 *
 * Карточка товара в админ-панеле
 *
*/

.admin-card {
  display: flex;
  align-items: center;
  justify-content: center;

  // Модификаторы

  &--styles {
    width: 100%;
    max-width: 351px;
    min-height: 508px;
    border-radius: 2px;
    padding: 5px;
    background-color: var(--color-dark);

    .adaptive(@screen-1440; {
      max-width: 278px;
      min-height: 595px;
    });

    .adaptive(@screen-1280; {
      max-width: 296px;
      min-height: 606px;
      margin-bottom: 12px;
    });

    .adaptive(@screen-620; {
      max-width: 100%;
      min-height: auto;
    });
  }

  &--margin-bottom {
    margin-bottom: 12px;
  }

  // Элементы

  &__wrapper {
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-gray);
    border-radius: 2px;
    padding: 10px 11px 15px;
  }

  &__img {
    width: 226px;
    height: 193px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &-label {
      display: block;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }

    &-input {
      display: none;
    }
  }

  &__name {
    width: 100%;
    font-family: var(--font);
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.99px;
    font-weight: 600;
    margin-top: 5px;
    color: var(--color-white);
    background: transparent;
    border: none;

    &::placeholder {
      color: var(--color-gray-light);
    }

    &--hide {
      display: none;
    }
  }

  &__structure {
    font-family: var(--font);
    width: 100%;
    min-height: 60px;
    margin-top: 15px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .38px;
    font-weight: 300;
    color: var(--color-white-dark);
    background: transparent;
    resize: none;
    border: none;
    overflow-x: hidden;

    &--hide {
      display: none;
    }
  }

  &__options {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 41px;
    margin-top: 24px;
  }

  &__option {
    display: flex;
    flex-direction: column;
    max-width: 33%;

    &-input {
      font-family: var(--font);
      font-size: 16px;
      color: var(--color-white);
      background-color: transparent;
      border: none;

      &::placeholder {
        color: var(--color-gray-light);
      }
    }

    &-description {
      font-weight: 300;
      color: var(--color-white-dark);
    }
  }

  &__weight {
    font-family: var(--font);
    font-size: 16px;
    letter-spacing: 0.48px;
    color: var(--color-gray-light);
    margin-top: 29px;
    background-color: transparent;
    border: none;

    &--hide {
      display: none;
    }
  }

  &__price {
    font-family: var(--font);
    font-weight: 600;
    color: var(--color-white);
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 0.84px;
    margin-top: 7px;
    background: transparent;
    border: none;
    max-width: 150px;

    &::placeholder {
      color: var(--color-gray-light);
    }

    &--hide {
      display: none;
    }
  }
}