/**
 *
 * Карточка товара
 *
*/

.card {
    position: relative;
    display: flex;

    // Модификаторы

    &--styles {
        width: 100%;
        max-width: 351px;
        min-height: 508px;
        border-radius: 2px;
        padding: 5px;
        background-color: var(--color-dark);

        .adaptive(@screen-1440; {
            max-width: 278px;
            min-height: 595px;
        });

        .adaptive(@screen-1280; {
            max-width: 296px;
            min-height: 606px;
            margin-bottom: 12px;
        });

        .adaptive(@screen-620; {
            max-width: 100%;    
            min-height: auto;
        });
    }

    &--margin-bottom {
        margin-bottom: 12px;
    }

    // Элементы

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        border: 1px solid var(--color-gray);
        border-radius: 2px;
        padding: 10px 11px 15px;
    }

    &__img {
        display: block;
        width: 226px;
        height: 193px;
        object-fit: contain;
        object-position: center;
        margin: 0 auto;
    }

    &__title {
        margin-top: 5px;
    }

    &__structure {
        min-height: 60px;
        margin-top: 15px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.38px;
        font-weight: 300;
        color: var(--color-white-dark);
    }

    &__options {
        min-height: 41px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 24px;
    }

    &__option {
        display: flex;
        flex-direction: column;
        padding-right: 48px;

        &-price {
            color: var(--color-white-dark);
            transition: color @tr-fast;
        }

        &-description {
            font-weight: 300;
            font-size: 14px;
            color: var(--color-white-dark);
            transition: color @tr-fast;
        }

        &-input {
            display: none;
        }

        &-label {
            cursor: pointer;
        }

        &-input:checked ~ label > &-price,
        &-input:checked ~ label > &-description {
            color: var(--color-red-light);
        }

        .adaptive(@screen-620; {
            padding-right: 30px;
        });
    }

    &__weight {
        letter-spacing: 0.48px;
        color: var(--color-gray-light);
        margin-top: 29px;
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;

        .adaptive(@screen-1440; {
            align-items: flex-start;
        });
    }

    &__price {
        font-weight: 600;
        color: var(--color-white);
        font-size: 28px;
        line-height: 28px;
        letter-spacing: 0.84px;
    }

    &__ui {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .adaptive(@screen-1440; {
            flex-direction: column;
            align-items: flex-end;
        });
    }

    // Количество
    &__input {
        display: flex;
        align-items: center;
        margin-right: 20px;

        &-num {
            font-size: 28px;
            line-height: 28px;
            letter-spacing: 0.84px;
            font-weight: 300;
            color: var(--color-white-dark);
        }

        &-ui {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            margin-left: 8px;
        }

        &-btn {
            position: relative;
            width: 18px;
            height: 14px;
            background-color: transparent;
            cursor: pointer;
            
            & > span {
                position: absolute;
                display: block;
                top: 0;
                width: 9px;
                height: 1px;
                background-color: var(--color-white-dark);
                transition: transform @tr-medium;

                &:first-child {
                    transform-origin: right;
                    transform: rotate(-36deg);
                }

                &:last-child {
                    transform-origin: left;
                    left: 50%;
                    transform: rotate(36deg);
                }
            }

            &:hover > span {
                &:first-child {
                    transform: rotate(-46deg);
                }

                &:last-child {
                    transform: rotate(46deg);
                }
            }

            &:active > span {
                &:first-child {
                    transform: rotate(-56deg);
                }

                &:last-child {
                    transform: rotate(56deg);
                }
            }

            &--bottom {
                transform: scaleY(-1);
            }
        }

        .adaptive(@screen-1440; {
            margin-right: 0;
            margin-bottom: 14px;
        });
    }
}