/**
 *
 * Подвал сайта
 *
*/

.footer {
    position: relative;

    // Модификаторы

    &--styles {
        width: 100vw;
        background-color: var(--color-dark);
        margin-top: 146px;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 5px;
            width: 100vw;
            height: 1px;
            background-color: var(--color-gray);
        }
    }

    // Элементы

    &__wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: var(--screen);
        padding: 45px 0 15px;
        margin: 0 auto;

        .adaptive(@screen-1280; {
            flex-direction: column;
            align-items: center;
            padding: 45px 0 50px;
        });
    }

    &__left {
        flex: 1 1 auto;
        display: flex;
        max-width: 33%;

        &-info {
            display: flex;
            flex-direction: column;

            .adaptive(@screen-1280; {
                align-items: center;
            });
        }

        &-logo {
            width: 109px;
            height: 29px;

            &-img {
                width: inherit;
                height: inherit;
                object-fit: contain;
                object-position: center;
            }
        }

        &-nav {
            display: flex;
            flex-direction: column;
            margin-left: 50px;

            & > &-item + &-item {
                margin-top: 5px;
            }

            .adaptive(@screen-1280; {
                align-items: center;
                margin-top: 21px;
                margin-left: 0;
            });
        }

        &-soc {
            margin-top: 35px;
        }

        .adaptive(@screen-1280; {
            flex-direction: column;
            align-items: center;
            max-width: 100%;
        });
    }

    &__center {
        flex: 1 1 auto;
        max-width: 408px;
        font-size: 18px;
        line-height: 24px;
        text-align: center;

        .adaptive(@screen-1280; {
            margin: 50px 0;
        });
    }

    &__info {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        max-width: 33%;
        color: var(--color-white-dark);

        &-tel {
            text-align: center;
        }

        &-time {
            margin-top: 1rem;
            text-align: right;
        }

        .adaptive(@screen-1280; {
            max-width: 100%;
            align-items: center;
        });
    }

    &__copyright {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 15px;

        &-text {
            color: var(--color-white-dark);
            text-align: center;
        }
    }
}
